<div class="programContainer">
  <div class="program1">
    <div class="Jprogram">
      <div>
        <h2>Junior Program</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, sint sit at tempora corrupti vero.</p>
        <button class="button1">Register Now!</button>
      </div>
    </div>

    <div class="Tprogram">
      <div>
        <h2>Teen Program</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, sint sit at tempora corrupti vero.</p>
        <button class="button1">Register Now!</button>
      </div>
    </div>
  </div>

  <div class="Pprogram">
    <div>
      <h2>Pro Program</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, sint sit at tempora corrupti vero.</p>
      <button class="button1">Register Now!</button>
    </div>
  </div>

  <hr>

  <div class="newProd">
    <h2>Our New Product</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eum reprehenderit eaque necessitatibus expedita molestias.</p>
  </div>
</div>
