<div class="container">
  <hr>
  <h2>Professional Hockeys Club</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, culpa temporibus distinctio </p>

  <hr>

  <div class="clubContainer">
    <div class="clubCard">
      <img src="/src/assets/10.png" alt="">
      <h2>Prayer Facility</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aut est </p>
    </div>
    <div class="clubCard">
      <img src="" alt="">
      <h2>Prayer Facility</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aut est </p>
    </div>
    <div class="clubCard">
      <img src="" alt="">
      <h2>Prayer Facility</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aut est </p>
    </div>
    <div class="clubCard">
      <img src="" alt="">
      <h2>Prayer Facility</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aut est </p>
    </div>
  </div>
  <hr>
  <div>
    <h2>Program Sections</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur provident voluptate consequuntur ullam </p>
  </div>
  <hr>

</div>