.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  // background: #333;
  font-size: 20px;
  color: black;
}
.navLinks{
  display: flex;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  font-size: large;
  font-weight: bold;

}
.heading1{
  font-size: large;
}
.navEnd{
    display: flex;
    gap: 4px;

}
.navSearch{
  border-radius: 8px;
  padding: 4px;
}
ul li a {
    color: black;
    text-decoration: none;
    
}
ul li a:hover{
  color: red;
}
ul li a.active{
  color: crimson;
  text-decoration: underline;

}