<div class="navbar">
  <div class="heading1"><h2>Hockey<span style="color: red;">'</span>s</h2></div>
  <div>
    <ul class="navLinks">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active" >About</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
  <div class="navEnd">
    <input class="navSearch" type="text" name="" id="" placeholder="Search Product">
    <button class="button1">Search</button>
  </div>
</div>